#search-bar{
    float: right;
    height: 70%;
    width: 40%;
    border-radius: 10px;
    outline: none;
    border: 1px solid lightgray;
}

body{
    height: 100%;
    margin: 0;
}

#app{
    display: flex;
    flex-direction: column;
    background-color: #30998c;
    padding-top: 0px;
    padding-bottom: 0px;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
}

#header{
    background-color: #F8F8F8;
    height: 50px;
    padding-left: 282px;
    padding-top: 10px;
    padding-right: 10px;
}

#belly{
    background-color: bisque;
    height: 84%;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

#navigation{
    background-color: #E9ECEF;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#content{
    background-color: #baefef;
    height: 100%;
    width: 60%;
    overflow: scroll;
}

#ads{
    /* background-color: #e0afa3; */
    /* background-image: url(ads.jpeg); */
    /* background-image: url(ads2.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 50%; */
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

#footer{
    background-color: chartreuse;
    height: 60px;
    margin-top: 0px;

    position: absolute;
    bottom: 0;
    width: 100%; 
}

.the-links{
    border: 5px solid #baefef;
    background-color: #F2F2F2;
    width: 90%;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #30998c;

}

#bottom-pic{
    height: 100%;
    width: 100%;
}

@media(max-width:800px){

    #belly{
        flex-direction: column; 
    }

    #ads{
        order: 0;
        width:100%;
        flex-direction: row;
    }

    #navigation{
        flex-direction: row;
        width: 100%;
        
    }

    .the-links{
        height: 60px;
        width:98px; 
    }

    #content{
        width: 100%;
        padding-left: 20px;
    }

    #bottom-pic{
        width: 100%;
    }

}

@media(max-width:700px){
    #ads{
        order: -2;
    }
}